<section id="header-compromisos">
  <div class="container">
    {{!-- titulo --}}
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h6>Cumplimiento de compromisos del 3er Plan de Accion (PAN) de Gobierno Abierto de Guatemala.</h6>
      </div>
      {{!-- buscar --}}
      <div class="col-10">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Buscar</div>
          </div>
          {{input class="form-control" placeholder="Buscar compromiso" value=searchInput key-up="updateSearch"}}
        </div>
      </div>
      {{!-- filtros --}}
      <div id="filtros" class="my-4 row">
        <strong class="m-auto">Filtrar por: </strong>
        <div class="col-12 col-md-2" style="display: flex;">
          {{input type="checkbox" checked=transparenciaFiscal}}
          <p class="ml-2 my-auto py-auto">Transparencia Fiscal</p>
        </div>
        <div class="col-12 col-md-2" style="display: flex;">
          {{input type="checkbox" checked=rendicionCuenta}}
          <p class="ml-2 my-auto py-auto">Rendicion de Cuentas</p>
        </div>
        <div class="col-12 col-md-2" style="display: flex;">
          {{input type="checkbox" checked=participacionCiudadana}}
          <p class="ml-2 my-auto py-auto">Participación Ciudadana</p>
        </div>
        <div class="col-12 col-md-2" style="display: flex;">
          {{input type="checkbox" checked=innovacionTecnologica}}
          <p class="ml-2 my-auto py-auto">Innovacion Tecnológica</p>
        </div>
        <div class="col-12 col-md-2" style="display: flex;">
          {{input type="checkbox" checked=accesoInformacionPublica}}
          <p class="ml-2 my-auto py-auto">Acceso a informacion publica</p>
        </div>
      </div>  
    </div>

    <div class="row">
        {{#each compromisosFiltradosList as |compromiso|}}
          <div class="col-12 col-md-4 px-2 text-center">
            <div class="compromiso p-4">
              <p class="">{{compromiso.compromiso}}</p>
              <img src="/img/{{compromiso.image}}" alt="{{compromiso.tematica}}" width="30%">
              <h6 class="my-4">{{compromiso.porcentaje}}% de Avance</h6>
              {{link-to 'Ver más' 'compromises.compromiso' compromiso.id}}
            </div>
          </div>
        {{/each}}
      </div>
  </div>
</section>
