{{!--En que medida cumple el gobierno--}}
 <section id="home">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
            <h1 class="">¿En que medida cumple el gobierno?</h1>
            <x><p class="">Aquí evaluamos el avance de las promesas realizadas a un año de su anuncio</p></x>
        </div>
      <div class="col-sm-4 text-center">
        <img src="/img/indicador.png" width="90%" class="img-responsive">
      </div>
    </div>  
  </div>
</section>
{{!--Que es la Plataforma de medicion de avances--}}
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>¿Qué es la Plataforma de medición de avances?</h4>
        <p>La plataforma es un estudio que mide el cumplimiento de los compromisos del 3er Plan de Accion de Gobierno Abierto de Guatemala. Con esto buscamos dar información a los ciudadanos y cuidadanas en el ejercicio de su derecho a exigir el cumplimiento de los compromisos realizados por los representantes, fortaleciendo sus capacidades de fiscalización y control de gestión.</p>
      </div>
    </div>
  </div>
</section>

<section id="compromisos">
  <div class="container">
    {{!-- titulo --}}
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h6>Cumplimiento de compromisos del 3er Plan de Accion (PAN) de Gobierno Abierto de Guatemala.</h6>
      </div>
      <div class="col-10">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Buscar</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <h2>Compromisos</h2>
  <ul>
    {{#each compromisosFiltradosList as |compromiso|}}
      <li>{{compromiso}}</li>
    {{/each}}
  </ul>
</section>
<section>
  <h2>tematicas</h2>
  <ul>
      <li>{{input type="checkbox" checked=transparenciaFiscal}}Transparencia Fiscal</li>
      <li>{{input type="checkbox" checked=rendicionCuenta}}Rendicion de Cuentas</li>
      <li>{{input type="checkbox" checked=participacionCiudadana}}Ciudadana</li>
      <li>{{input type="checkbox" checked=innovacionTecnologica}}Innovacion</li>
      <li>{{input type="checkbox" checked=accesoInformacionPublica}}Acceso a informacion</li>
  </ul>
</section>
