{{outlet}}
{{!--En que medida cumple el gobierno--}}
<section id="home">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
            <h1 class="">¿En que medida cumple el gobierno?</h1>
            <x><p class="">Aquí evaluamos el avance de las promesas realizadas a un año de su anuncio</p></x>
        </div>
      <div class="col-sm-4 text-center">
        <img src="/img/indicador.png" width="90%" class="img-responsive">
      </div>
    </div>  
  </div>
</section>
{{!--Que es la Plataforma de medicion de avances--}}
<section id="que-es">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>¿Qué es la Plataforma de medición de avances?</h4>
        <p>La plataforma es un estudio que mide el cumplimiento de los compromisos del 3er Plan de Accion de Gobierno Abierto de Guatemala. Con esto buscamos dar información a los ciudadanos y cuidadanas en el ejercicio de su derecho a exigir el cumplimiento de los compromisos realizados por los representantes, fortaleciendo sus capacidades de fiscalización y control de gestión.</p>
      </div>
    </div>
  </div>
</section>
<section id="compromisos">
  <div class="container">
    {{!-- titulo --}}
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h6>Cumplimiento de compromisos del 3er Plan de Accion (PAN) de Gobierno Abierto de Guatemala.</h6>
      </div>
      <div class="col-10">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Buscar</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername2">
        </div>
      </div>
    </div>
    {{!-- filtros --}}
    <div class="row justify-content-center mt-2">
      <div class="col-10">
        <ul class="nav nav-pills nav-fill border" id="pills-tab" role="tablist">
          <li class="border">
            <a class="nav-link disabled" href="#">Filtros</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#" id="pills-acceso-tab" data-toggle="pill" href="#pills-acceso" role="tab" aria-controls="pills-acceso" aria-selected="true">Acceso a la información</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#" id="pills-innovacion-tab" data-toggle="pill" href="#pills-innovacion" role="tab" aria-controls="pills-innovacion" aria-selected="false">Innovación Técnologica</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">Participación Ciudadana</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">Rendición de Cuentas</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" href="#">Transparencia Fiscal</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-acceso" role="tabpanel" aria-labelledby="pills-acceso-tab">Acceso</div>
          <div class="tab-pane fade" id="pills-innovacion" role="tabpanel" aria-labelledby="pills-innovacion-tab">Innovación</div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>
      </div>
    </div>
    <div class="row">
{{#bs-tab customTabs=true as |tab|}}
  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item active=(bs-eq tab.activeId "pane1")}}
      <a href="#pane1" class="nav-link" role="tab" {{action tab.select "pane1"}}>Tab 1 <span class="badge">{{badge}}</span></a>
    {{/nav.item}}
    {{#nav.item active=(bs-eq tab.activeId "pane2")}}
      <a href="#pane1" class="nav-link" role="tab" {{action tab.select "pane2"}}>Tab 2</a>
    {{/nav.item}}
  {{/bs-nav}}

  <div class="tab-content">
    {{#tab.pane elementId="pane1" title="Tab 1"}}
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    {{/tab.pane}}
    {{#tab.pane elementId="pane2" title="Tab 2"}}
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
    {{/tab.pane}}
  </div>
{{/bs-tab}}
    </div>
  </div>
</section>
{{!--Selecciona un eje tematicos--}}
{{!-- <section id="ejes-tematicos">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <strong>{{datos.tituloEjes}}</strong><br>
        <span>{{datos.descripcionEje}}</span>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-sm-2">
        {{#link-to "study.name" "AccesoInformacion"}}<img src="/img/eje-acceso-informacion-publica.png">{{/link-to}}
        <br>
        <strong>{{datos.eje1}}</strong>
      </div>
      <div class="col-sm-2">
        {{#link-to "study.name" "InnovacionTecnologica"}}<img src="/img/eje-innovacion-tecnologica.png">{{/link-to}}
        <br>
        <strong>{{datos.eje2}}</strong>
      </div>
      <div class="col-sm-2">
        {{#link-to "study.name" "ParticipacionCuidadana"}}<img src="/img/eje-participacion-ciudadana.png">{{/link-to}}
        <br>
        <strong>{{datos.eje3}}</strong>
      </div>
      <div class="col-sm-2">
        {{#link-to "study.name" "RendicionCuentas"}}<img src="/img/eje-rendicion-de-cuentas.png">{{/link-to}}
        <br>
        <strong>{{datos.eje4}}</strong>
      </div>
      <div class="col-sm-2">
        {{#link-to "study.name" "TransparenciaFiscal"}}<img src="/img/eje-transparencia-fiscal.png">{{/link-to}}
        <br>
        <strong>{{datos.eje5}}</strong>
      </div>
    </div>
  </div>
</section>
 --}}
