<section class="compromise-header">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 text-center">
        <h2>{{model.compromiso.compromiso}}</h2>
        <button type="button" class="btn" style="background-color: #E15B5A;">
          Tematica:&nbsp;&nbsp;&nbsp;<strong class="text-white">{{model.compromiso.tematica}}</strong>
          <span class="sr-only"></span>
        </button>
        <button type="button" class="btn m-2" style="background-color: #38C1D7;">
          Entidad:&nbsp;&nbsp;&nbsp;<strong class="text-white">{{model.hitosDeCompromiso.firstObject.entidad}}</strong>
          <span class="sr-only"></span>
        </button>
        {{#link-to 'compromises.compromiso.assess' model.compromiso.id}}
        <button type="button" class="btn m-2 btn-primary">
          Valorar compromiso
        </button>
        {{/link-to}}
        <div class="d-inline-flex social-media" style="float:right; padding-top: 20px;">
        {{twitter-share
            count='horizontal'
            hashtags='MedicionIndicadores'
            text=model.textoTwitter
            via='Redxguate' }}
        {{facebook-share fb-layout='button_count'}}
        </div>
      </div>
      <div class="col-12 col-md-4 text-center">
        <canvas id="myCanvas" width="250" height="200" porcentaje="{{model.compromiso.porcentaje}}" class="mx-auto my-auto"></canvas>
        <script>
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            var al=0;
            var start=1.5;
            var cw=context.canvas.width/2;
            var ch=context.canvas.height/2;
            var diff;
            var porcentaje=document.getElementById('myCanvas').getAttribute('porcentaje');
             
            function progressBar(){
            diff=(al/100)*Math.PI*2;
            context.clearRect(0,0,400,200);
            context.strokeStyle='#E15B5A';
            context.textAlign='center';
            context.lineWidth=30;
            context.font = '15pt Arial';

            context.beginPath();
            context.arc(cw,ch,80,start,diff+start,false);
            context.stroke();

            context.beginPath();
            context.strokeStyle='#cecece';
            context.arc(cw,ch,80,diff+start, 0.5*Math.PI,false);
            context.stroke();

            context.fillText(al+'%',cw+2,ch+6);
            if(al>=porcentaje){
              clearTimeout(bar);
            }
            al++;
            }
             
            var bar=setInterval(progressBar,50);
        </script>
        <h6>Cumplimiento total</h6>
      </div>
    </div>
    <div class="row m-5">
      <div class="col-12">
        <div class="row justify-content-center text-center" id="metas-resumen">
            <div class="col border-right border-dark">
                <p>No. de metas propuestas</p>
                <h4>{{model.informacionCompromiso.noMetas}}</h4>
            </div>
            <div class="col border-right border-dark">
                <p>Metas atrasadas</p>
                <h4>{{model.informacionCompromiso.metasProceso}}</h4>
            </div>
            <div class="col border-right border-dark">
                <p>Metas en proceso</p>
                <h4>0</h4>
            </div>
            <div class="col">
                <p>Metas completadas</p>
                <h4>{{model.informacionCompromiso.metasCompletadas}}</h4>
            </div>
        </div>
      </div>
    </div>

    {{#each model.hitosDeCompromiso as |hito|}}
      <div class="row my-5 mx-2 border border-dark">
        <div class="col-12 col-lg-6 p-0">
          <table class="table">
            <thead class="thead-color"><tr><th>Nombre del hito</th></tr></thead>
            <tbody><tr><td>{{hito.hito}}</td></tr></tbody>
          </table>
        </div>
        <div class="col-12 col-lg-1 p-0">
          <table class="table">
            <thead class="thead-color"><tr><th>Inicio</th></tr></thead>
            <tbody><tr><td>{{hito.inicio}}</td></tr></tbody>
          </table>
        </div>
        <div class="col-12 col-lg-1 p-0">
          <table class="table">
            <thead class="thead-color"><tr><th>Final</th></tr></thead>
            <tbody><tr><td>{{hito.final}}</td></tr></tbody>
          </table>
        </div>
        <div class="col-12 col-lg-1 p-0">
          <table class="table">
            <thead class="thead-color"><tr><th>Estado</th></tr></thead>
            <tbody><tr><td>{{hito.estado}}</td></tr></tbody>
          </table>
        </div>
        <div class="col-12 col-lg-3 p-0">
          <table class="table">
            <thead class="thead-color"><tr><th>Analisis</th></tr></thead>
            <tbody><tr><td>{{hito.analisis}}</td></tr></tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>
</section>
